:root {
  --white: #fff;
  --light-gray: #bbb;
  --dark-gray: #222;
  --black: #000;
  --blue: #4831d4;
  --light-blue: #dad6f6;
  --green: #ccf381;

  --transitions: all 0.3s;
}

/* DEFAULTS/RESETS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  background-color: var(--light-blue);
}

/* LAYOUT */
.header,
.main,
.footer {
  max-width: 135rem;
  margin: 0 auto;
}

section {
  padding: 6.4rem 1.6rem;
  background-color: var(--white);
  scroll-margin-top: 3.2rem;
}

section:focus {
  outline: none;
}

/* ELEMENTS */
p {
  line-height: 1.4;
  font-weight: 300;
}

/* HEADINGS */
.heading-primary {
  text-transform: uppercase;
  font-size: 12rem;
  line-height: 1;
}

.heading-secondary {
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: -5px;
  color: var(--dark-gray);
}

.heading-tertiary {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.2rem;
}

/* BUTTONS AND LINKS */
.btn,
.link {
  text-decoration: none;
  transition: var(--transitions);
}

.btn:focus,
.link:focus {
  outline: none;
}

.btn {
  color: var(--white);
}

.cta-btn:link,
.cta-btn:visited {
  color: var(--black);
  background-color: var(--green);
  padding: 0.8rem 1.6rem;
  border-radius: 100px;
  border: 2px solid transparent;
}

.cta-btn:hover,
.cta-btn:active,
.cta-btn:focus {
  color: var(--green);
  background-color: transparent;
  border: 2px solid var(--green);
}

/* UTILITIES */
.text-green {
  color: var(--green);
}

.text-white {
  color: var(--white);
}

.text-light {
  color: var(--light-gray);
}

.span-block {
  display: block;
}

.block-mobile {
  display: inline;
}

.mb-sm {
  margin-bottom: 0.8rem;
}

.mb-md {
  margin-bottom: 2.4rem;
}

.mb-lg {
  margin-bottom: 4.8rem;
}

/* STATES */
body.nav-open {
  overflow: hidden;
}

.overlay.nav-open {
  display: block;
}

.nav__mobile-container.nav-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

/* ANIMATIONS */
