/* HEADER */
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.header--desktop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 2.4rem 3.2rem;
  background-color: var(--blue);
}

.header--mobile {
  display: none;
  padding: 1.6rem 3.2rem;
  background-color: var(--blue);
}

.header__btn {
  justify-self: end;
}

.logo:link,
.logo:visited {
  color: var(--white);
  text-decoration: none;
  letter-spacing: -5px;
  font-size: 3.2rem;
  justify-self: center;
  transition: var(--transitions);
}

.logo:hover,
.logo:active {
  color: var(--green);
}

/* NAVIGATION */
.nav--desktop {
  display: flex;
  gap: 0.8rem;
}

.nav__btn,
.nav__mobile-container {
  display: none;
}

.nav__btn {
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: calc((3px * 3) + (0.8rem * 2));
  width: 3rem;
  position: relative;
  z-index: 15;
}

.nav__btn span {
  display: block;
  width: 3rem;
  height: 3px;
  background-color: var(--white);
  position: relative;
}

.nav__btn span::before,
.nav__btn span::after {
  content: '';
  width: 3rem;
  height: 3px;
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transitions);
}

.nav__btn span::before {
  transform: translateY(-0.8rem);
}

.nav__btn span::after {
  transform: translateY(0.8rem);
}

.open-nav span {
  background-color: transparent;
}

.open-nav span::before {
  transform: translateY(0) rotate(45deg);
}

.open-nav span::after {
  transform: translateY(0) rotate(-45deg);
}

.nav__mobile-container {
  background-color: var(--black);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 70%;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  visibility: hidden;
  transition: var(--transitions);
}

.nav__mobile-container .nav__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.nav__mobile-container .nav__link {
  font-size: 4.8rem;
  text-transform: uppercase;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: 5;
  display: none;
}

.nav__list {
  list-style: none;
}

.nav__link:link,
.nav__link:visited {
  color: var(--light-blue);
  text-decoration: none;
  transition: var(--transitions);
}

.nav__link:hover,
.nav__link:active {
  color: var(--white);
}

/* HERO */
.hero {
  color: var(--white);
  background-color: var(--blue);
  padding: 7.2rem 1.6rem;
  margin-top: 0;
  position: relative;
}

.hero__heading {
  margin-bottom: 0.8rem;
  overflow-y: hidden;
}

.hero__heading {
  animation: fadeLeft 1s;
}

.hero__heading .text-green {
  display: inline-block;
  animation: blurUp 0.6s 1s;
  animation-fill-mode: backwards;
}

.hero__details {
  position: absolute;
  top: 16%;
  right: 38%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  animation: fadeIn 0.5s 1.8s backwards;
}

.hero__details i {
  color: var(--green);
  font-size: 6.4rem;
}

.hero__text {
  color: var(--light-blue);
  width: 24rem;
}

.hero__btn {
  display: none;
}

.hero__socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1.6rem;
  top: -1.6rem;
  text-align: right;
  gap: 1.2rem;
  margin: 1.6rem 0;
}

.social-link:link,
.social-link:visited {
  color: var(--light-blue);
  font-size: 2.8rem;
  transition: var(--transitions);
}

.social-link:hover,
.social-link:active,
.social-link:focus {
  color: var(--green);
}

/* SERVICES SECTION */
.services-container {
  display: grid;
  grid-template-columns: repeat(3, 40rem);
  justify-content: center;
  gap: 1.6rem;
}

.services-container::-webkit-scrollbar {
  width: 0px;
  opacity: 0;
}

.services-card {
  color: var(--white);
  background-color: var(--black);
  width: 38rem;
  border-radius: 16px;
  position: relative;
  padding: 1.6rem;
  padding-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.8rem;
}

.service-card--2 {
  animation-delay: 0.5s;
}

.service-card--3 {
  animation-delay: 1s;
}

.service-card__headings {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.service-card__heading {
  margin-bottom: 0.8rem;
  color: var(--green);
}

.service-card__btn:link,
.service-card__btn:visited {
  font-size: 3.2rem;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  height: 2.4rem;
  width: 2.4rem;
  padding: 2.8rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.service-card__btn:hover,
.service-card__btn:active,
.service-card__btn:focus {
  background-color: transparent;
}

.service-card__text {
  color: var(--light-gray);
}

.service-card__img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: var(--transitions);
}

.services-card:hover .service-card__img,
.service-card__link:focus .service-card__img {
  filter: grayscale(0);
}

/* WORK */
.work__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  column-gap: 3.2rem;
  row-gap: 6.4rem;
  width: 70%;
  margin: 0 auto;
}

.work-card {
  position: relative;
  transition: all 2s;
}

.work-card:hover > .work-card__img,
.work-card__img:focus {
  filter: grayscale(0);
}

.work-card p {
  color: var(--dark-gray);
  margin-bottom: 0.8rem;
}

.work-card--2 {
  grid-row: 2 / 3;
  grid-column: 2 / -1;
  transform: translateY(-50%);
}

.work-card--3 {
  grid-row: 2 / 3;
}

.work-card--more {
  grid-row: 4 / -1;
  grid-column: 1 / -1;
  text-align: center;
}

.work-card__img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  justify-self: center;
  margin-bottom: 0.8rem;
  transition: var(--transitions);
}

.work-card--1 img {
  border-radius: 25px 25px 0 25px;
}

.work-card--2 img {
  border-radius: 0 25px 25px 25px;
}

.work-card--3 img {
  border-radius: 25px 0 25px 25px;
}

.work-card__link:link,
.work-card__link:visited {
  display: inline-flex;
  gap: 0.2rem;
  align-items: center;
  color: var(--blue);
}

.work-card__link i {
  transition: var(--transitions);
}

.work-card__link:hover,
.work-card__link:active,
.work-card__link:focus {
  color: var(--black);
}

.work-card__link:hover i,
.work-card__link:active i,
.work-card__link:focus i {
  margin-left: 0.4rem;
}

.work__cta:link,
.work__cta:visited {
  font-size: 2.4rem;
  color: var(--white);
  background-color: var(--black);
}

.work__cta:hover,
.work__cta:active,
.work__cta:focus {
  color: var(--black);
  background-color: transparent;
  border: 2px solid var(--black);
}

/* CONTACT */
.contact {
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__heading {
  color: var(--green);
  font-weight: 400;
  letter-spacing: -2px;
}

.contact__btn:link,
.contact__btn:visited {
  color: var(--white);
  font-size: 3.2rem;
  background-color: var(--blue);
  border: 2px solid transparent;
  display: inline-block;
  position: relative;
}

.contact__btn i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: var(--transitions);
}

.contact__btn:hover,
.contact__btn:active,
.contact__btn:focus {
  background-color: transparent;
  margin-right: 2.4rem;
}

.contact__btn:hover i,
.contact__btn:active i,
.contact__btn:focus i {
  opacity: 1;
  transform: translate(2.4rem, -50%);
}

/* FOOTER */
.footer {
  color: var(--light-gray);
  background-color: var(--black);
  text-align: center;
  padding: 1.6rem;
}
