/* ~1500px+ */
@media (min-width: 93.7em) {
  html {
    font-size: 87.5%;
  }

  .header,
  .main,
  .footer {
    min-width: 150rem;
    max-width: 160rem;
  }

  section {
    padding: 6.4rem 3.2rem;
  }

  .hero__details {
    right: 47%;
  }

  .hero__socials {
    right: 3.2rem;
  }
}

/* ~1300px - ~1500px */
@media (min-width: 81.25em) and (max-width: 93.7em) {
  .header,
  .main,
  .footer {
    max-width: 150rem;
    margin: 0 auto;
  }

  .hero__details {
    right: 38%;
  }
}

/* ~1300px */
@media (max-width: 81.25em) {
  .heading-primary {
    font-size: 9.2rem;
  }

  .hero__details {
    right: 45%;
  }

  .services-container {
    justify-content: start;
    overflow-x: auto;
    overflow-y: visible;
  }
}

/* ~1200px */
@media (max-width: 75em) {
  .hero__details {
    position: static;
    transform: translateX(0);
  }

  .work__container {
    width: 90%;
  }
}

/* ~1015px */
@media (max-width: 63.5em) {
  .heading-primary {
    font-size: 7.2rem;
  }

  .heading-tertiary {
    font-size: 2.7rem;
  }

  .header--desktop {
    display: none;
  }

  .header--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav--desktop {
    display: none;
  }

  .nav__mobile-container {
    display: flex;
  }

  .header__btn {
    display: none;
  }

  .nav__btn {
    display: flex;
  }

  .logo {
    position: static;
    transform: translate(0);
  }

  .hero__details i {
    display: none;
  }

  .hero__btn {
    display: block;
  }

  .hero__socials {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
  }

  .services-container {
    grid-template-columns: repeat(3, 36rem);
    margin: 0 2.4rem;
  }

  .services-card {
    width: 36rem;
  }

  .service-card__img {
    height: 20rem;
  }
}

/* ~790px */
@media (max-width: 49.3em) {
  .heading-primary {
    font-size: 5.6rem;
  }

  .heading-secondary {
    font-size: 4rem;
    letter-spacing: -2px;
  }

  .nav__mobile-container {
    width: 100%;
  }
}

/* ~620px */
@media (max-width: 38.7em) {
  .heading-primary {
    font-size: 4.8rem;
  }

  .hero__details {
    gap: 0.2rem;
  }

  .hero__details i {
    font-size: 4.8rem;
  }

  .work__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    width: 75%;
  }

  .work-card--2 {
    transform: translateY(0);
    grid-column: 1 / -1;
  }

  .work-card--3 {
    grid-row: 3 / 4;
  }
}

/* ~530px */
@media (max-width: 33.1em) {
  .heading-primary {
    font-size: 4rem;
  }

  .heading-secondary {
    font-size: 3.2rem;
  }

  .hero__btn {
    font-size: 1.6rem;
  }

  .services-container {
    margin: 0 1.6rem;
  }
}

/* ~450px */
@media (max-width: 28.1em) {
  .heading-primary {
    font-size: 3.2rem;
  }

  .heading-secondary {
    font-size: 2.8rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .span-block {
    display: inline;
  }

  .social-link i {
    font-size: 2.4rem;
  }

  .hero__details {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    margin-bottom: 0.8rem;
  }

  .hero__text {
    width: 100%;
  }

  .services {
    padding-left: 0;
    padding-right: 0;
  }

  .services__heading {
    padding-left: 1.6rem;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .services-card {
    width: 32rem;
  }

  .service-card__img {
    height: 18rem;
  }

  .work__container {
    width: 90%;
  }
}

/* ~330px */
@media (max-width: 20.6em) {
  html {
    font-size: 50%;
  }

  .hero {
    padding: 3.2rem 0.8rem;
  }
}
